/* general content styling */
body{
    overflow-x: hidden;
}
.top-half-input {
    height: 55vh;
    color: #FFFFFF;
    /* background-color: #000; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    padding-right: 15px;
    list-style-type: none;
    /* background-image: url(../assets/images/darkness.png); */
    width: 100%;
    max-height: 50px;
    z-index: 13;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-nav, .jumbotron, #sidebar-header, .card-footer li, #footer-tag {
    color: #fff;
    text-shadow: 0px 0px 10px #f9e50f,
                 0px 0px 20px #f9e50f;
                 /* 0px 0px 30px #f9e50f; */
                 /* 0px 0px 40px #f9e50f; */
}

#welcome-title {
    position: absolute;
    top: 33%;
    left: 10%;
    margin: 0 auto;
    z-index: 14;
    background: none;
}

#title-hr {
    border: 0; 
    width: 75vw;
    height: 1px; 
    position: absolute;
    bottom: 10%;
    background-image: -webkit-linear-gradient(left, #f9e50f, #f9e50f45);
    background-image: -moz-linear-gradient(left, #f9e50f, #f9e50f45);
    background-image: -ms-linear-gradient(left, #f9e50f, #f9e50f45);
    background-image: -o-linear-gradient(left, #f9e50f, #f9e50f45); 
}

#mainWindow {
    min-height: 100vh;
    margin-bottom: 20%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0;
}


/* HOME PAGE STYLES */
#nasaCard {
    max-height: auto;
}

#nasaCard .card-footer
{
    overflow-y: auto;    
}

#newsCard
{
    max-height: 700px;;
}

#newsCard .card-body 
{
    overflow-y: auto;    

}

.newsImage
{
    width: 100px;
}

/* SIDEBAR STYLES */


#sidebar {
    z-index:30;
    /* height: 100; */
    background: #262623;
}

#sidebar .card-header {
    background-image: url("../assets/images/astronaut-1784245_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 10vh;
}

#widgetDiv {
    overflow-y: scroll;
    padding: 0;
}

#widgetDiv::-webkit-scrollbar {
    display: none;
}

#sidebar-footer {
    position: fixed;
    bottom: 0;
    background: #262623;
}

#bitmoji {
    height: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #262623;
    /* height: 100%; */
    width: 23%;
    opacity: 0.9;
    border: 10px solid #262623;
    border-left: none;
    border-top: none;
    /* display: none; */
}

.main {
    position: absolute;
    top: 0;
    left: 23%;
    right: 0;
    bottom: 0;
    
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .main { 
    left: 0;
}

input:checked ~ label {
    left: 0;
}

label {
    background: #262623;
    z-index: 2;
    position: fixed;
    top: 13vh;
    left: calc(23% - 15px);
    margin-left: none;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}
    
/* Portfolio Styles */

