/* main content styles */


    .nav {
        height: 100%;
    }

    #top-menu {
        float: right;
        padding-right: 15px;
        list-style-type: none;
        z-index:1000;
        position: fixed;
        right: 27px;
        top: 13px;
    }

    #sidebar-menu-bars {
        position: fixed;
        top: 20px;
    }

    .body-content {
        /* position: fixed; */
        /* width: 80%; */
        z-index: -5;
        /* background-image: url('./images/footer_lodyas.png'); */
        background-size: cover;
        background-position: right;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
        transition: background 2.7s ease-in;
    }

    .content-input {
        position: relative;
        max-height: 100%;
        padding: 5% 0;
        /* margin: 0 auto; */
    }

    #pic-view {
        height: 100vh;
    }

    body::-webkit-scrollbar {
        /* background-color: rgba(255, 153, 0, 0.1); */
        width: 6px;
        padding: 1px;
    }
    
    body::-webkit-scrollbar-track-piece {
        background-color: rgb(35, 33, 33);
        padding: 1px;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #666666;
        border-radius: 500px ;
    }

    body::-webkit-scrollbar-corner {
        background-color: none;
    }

    .jumbotron {
        background-color: #eeeeee;
    }



    /* end main content styles */
    
    /* sidebar styles */
    
    #sidebar-widgets::-webkit-scrollbar {
        display: none;
    }

    #sidebar-card {
        max-height: 100vh;
        width: 100%;
        margin: 0 auto;
    }

    .profile-section {
        min-height: 300px;
        max-height: 40%;
    }
    
    
    .profile-section .card-header {
        text-align: center;
    }
    
    #prof-pic-div {
        background-image: url("./images/triangles-1430105_640.png");
        background-position: center;
        background-size: cover;
        z-index: 50;
    }

    #prof-pic {
        border-radius: 50%;
        width: 180px;
        height: 180px;
        padding: 15px;
        z-index: 100;
    }

    #sidebar-widgets {
        height: 40%;
        overflow-y: scroll;
        margin-top: -40px;
        padding: 0;
    }

    .ticker-container {
        width: 100%;
        overflow: hidden;
    }
        
    .ticker-canvas {
        width: calc((200px * 6) + 2px);
        /* (min-width each item * number of items) + padding*/
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker-canvas;
        animation-name: ticker-canvas;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;
    }
    .ticker-canvas:hover {
        animation-play-state: paused
    }
    
    @-webkit-keyframes ticker-canvas {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }
        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }
    
    @keyframes ticker-canvas {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            visibility: visible;
        }
        100% {
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }

    /* sidebar footer */
    #sidebar-card .card-footer {
        padding: 5px;
        width: 100%;
        height: 35px;
    }

    .social-links {
        text-align:center;
    }

    .social-links li {
        display: inline-block;
        padding-right: 10px;
    }

    .social-links li:hover a {
        color:red;
        transform:rotateY(360deg);
    }
/* end sidebar styles */

/* portfolio styles */

/* end portfolio styles */

/* about styles */


    .bio-list-heading {
        font-size: 12px;
}

/* end about styles */






