<div id="about-me-section">
    <div class="jumbotron p-4">
        <span id="about-header">
            <h1 class="page-header pt-3">About Me</h1>
            <hr class="my-1">
            <p class="lead pb-3">Education, Experience, Mission</p>
        </span>
    </div>
    <div class="row">
        <div class="card-deck">
            <div class="col-7">
                <div class="card mr-0">
                    <h5 class="card-header card-title">Brief Bio</h5>
                    <div class="card-body p-1 d-inline">
                        <div class="row">
                            <div class="col-5 m-1">
                                <ul>
                                    <li class="mb-1">
                                        <p class="bio-list-heading mb-0">Name:</p> 
                                        <p>Gilbert Field Palmer III</p>
                                    </li>
                                    <li class="mb-1">
                                        <p class="bio-list-heading mb-0">From:</p>                                     <p>Clinton, NC, USA</p>
                                    </li>
                                    <li class="mb-1">
                                        <p class="bio-list-heading mb-0">Born:</p>                                     <p>July 13th, 1992</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6 m-1">
                                I enjoy creating cool things, thinking big thoughts, and learning new stuff. <br> 
                                My skills and interests are wide-ranging and well-tuned, and I remain calm under pressure.  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card ml-0">
                    <img src="assets/images/field-france-mont-st-michel.jpg" id="about-me-pic" class="card-img-top img-responsive">
                    <div class="card-body">
                        <a class="btn btn-md btn-success btn-block" href="../assets/pdf/gfp-resume-2018.pdf" download="field-palmer-cv" role="button">Get CV</a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>