<div id="about-me-section">
    <div class="col-md-11" id="portfolio-cards">
        <div class="jumbotron p-4">
            <span id="about-header">
                <h1 class="page-header">About Me</h1>
                <hr class="my-1">
                <p class="lead">Education, Experience, Mission</p>
                <a class="btn btn-md btn-success" href="../assets/pdf/gfp-resume-2018.pdf" download="field-palmer-cv" role="button">Download CV</a>
            </span>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="col-7">
                    <div class="card mr-0">
                        <h5 class="card-header card-title">Who am I?</h5>
                        <div class="card-body">
                            <p class="card-text">
                                I'm from a small town in southeastern North Carolina that has more pigs than people. After graduating from college, I worked internationally for four years and traveled as much as I could while considering a career.
                            </p> 
                            <p>
                                I came to the conclusion that the most interesting future opportunities would rely more and more heavily on technology. In reognition of that demand and in order to build functional and attractive digital tools, I'm diving deep into computer programming.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card ml-0">
                        <img src="../assets/images/village-kids.jpg" id="about-me-pic" class="card-img-top img-responsive">
                        <div class="card-body">
                            <ul>
                                <li>Name: Field</li>
                                <li>DOB: 13 July 1992</li>
                                <li>Mission: Work nonstop to hone my developer skills and conceptual understandings.</li>
                            </ul>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>