<div id="about-me-section">
    <div class="col-md-11" id="portfolio-cards">
        <div class="jumbotron p-4">
            <span id="about-header">
                <h1 class="page-header">About Me</h1>
                <hr class="my-1">
                <p class="lead">Education, Experience, Mission</p>
            </span>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="col-7">
                    <div class="card mr-0">
                        <h5 class="card-header card-title">Brief Bio</h5>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vestibulum semper eros ac urna cursus volutpat.
                            Donec ultrices massa quis magna eleifend consequat.
                            Donec placerat neque vel sapien eleifend lobortis.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vestibulum semper eros ac urna cursus volutpat.
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card ml-0">
                        <img src="../assets/images/village-kids.jpg" id="about-me-pic" class="card-img-top img-responsive">
                        <div class="card-body">
                        </div>
                        <div class="card-footer text-center">
                                <a class="btn btn-md btn-success btn-block" href="../assets/pdf/gfp-resume-2018.pdf" download="field-palmer-cv" role="button">Get CV</a>

                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>