<div id="sidebar-footer" class="card-footer sticky-bottom d-flex flex-row p-0 m-0">
        <img src="assets/images/bitmoji-prof-pic.jpg" alt="prof-pic" class="img-thumbnail img-responsive" id="bitmoji">
        <p class="my-2 lead" id="footer-tag">
        <strong>Field <br>Palmer</strong>
        </p>
        <div class="contact-icons mt-2 text-justify">
        <ul class="social-links d-inline-flex">
            <li class="mx-2"><a href="mailto:gfieldpalmer@gmail.com"><i class="fa fa-2x text-white fa-envelope" aria-hidden="true"></i></a></li>
            <li class="mx-2"><a href="https://github.com/fieldpalmer"><i class="fa fa-2x text-white fa-github" aria-hidden="true"></i></a></li>
            <li class="mx-2"><a href="#"><i class="fa fa-2x text-white fa-twitter" aria-hidden="true"></i></a></li>
            <li class="mx-2"><a href="https://www.linkedin.com/in/fieldpalmer/"><i class="fa fa-2x text-white fa-linkedin" aria-hidden="true"></i></a></li>
            <li class="mx-2"><a href="#"><i class="fa fa-2x text-white fa-instagram" aria-hidden="true"></i></a></li>
            <li class="mx-2"><a href="#"><i class="fa fa-2x text-white fa-facebook" aria-hidden="true"></i></a></li>
        </ul>
        </div>
    </div>