<div id="home-page">
    <!-- <div class="jumbotron p-4"> -->
        <!-- <span id="home-header"> -->
            <!-- <h1 class="page-header">Home</h1> -->
            <!-- <hr class="my-1"> -->
            <!-- <p class="lead">Welcome to my website</p> -->
        <!-- </span> -->
    <!-- </div> -->
    <div class="row">
        <div class="col-md-6">
            <div class="card" id="newsCard">
                <h5 class="card-header card-title">Today's Top Stories</h5>
                <div id="newsSpot" class="card-body p-3 d-inline">
                    <ul>
                        <span class="newsList"></span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="nasaCard">
                <h5 class="card-header card-title">NASA Pic of the Day</h5>
                <div class="card-body">
                    <img id="nasaPic" class="card-img img-responsive">
                </div>
                <div class="card-footer" id="nasaPicFooter">
                    
                </div>
            </div>
        </div>
    </div>
</div>

