<div id="home-page">
    <div class="col-md-11" id="home-page-main">

        <div class="jumbotron p-4">
            <span id="home-header">
                <h1 class="page-header">Home</h1>
                <hr class="my-1">
                <p class="lead">Welcome to my website</p>
            </span>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header card-title">Hot Takes</h5>
                    <div class="card-body p-3 d-inline">
                        <ul>
                            <li>
                                <p class="bio-list-heading mb-0">Link:</p> <hr class="m-1 mt-0">
                                <p>Example Links 123</p>
                            </li>
                            <li>
                                <p class="bio-list-heading mb-0">Link:</p> <hr class="m-1">
                                <p>Example Links 123</p>
                            </li>
                            <li>
                                <p class="bio-list-heading mb-0">Link:</p> <hr class="m-1">
                                <p>Example Links 123</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header card-title">Current Events</h5>
                    <div class="card-body p-3 d-inline">
                        <ul>
                            <li>
                                <p class="bio-list-heading mb-0">Source:</p> <hr class="m-1 mt-0">
                                <p>Example Links 123</p>
                            </li>
                            <li>
                                <p class="bio-list-heading mb-0">Source:</p> <hr class="m-1">
                                <p>Example Links 123</p>
                            </li>
                            <li>
                                <p class="bio-list-heading mb-0">Source:</p> <hr class="m-1">
                                <p>Example Links 123</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header card-title">Blog Links</h5>
                    <div class="card-body p-3 d-inline">
                        <ul>
                            <li>
                                <p class="bio-list-heading mb-0">Date:</p> <hr class="m-1 mt-0">
                                <p>Example Links 123</p>
                            </li>
                            <li>
                                <p class="bio-list-heading mb-0">Date:</p> <hr class="m-1">
                                <p>Example Links 123</p>
                            </li>
                            <li>
                                <p class="bio-list-heading mb-0">Date:</p> <hr class="m-1">
                                <p>Example Links 123</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
