<!-- landing page content -->
        <!-- landing page jumbotron text -->
        <div class="jumbotron jumbotron-fluid px-4">
            <div class="col-sm-8 col-md-6">
                <span id="landing-title">
                    <h1 class="display-4">Hello, World</h1>
                    <hr class="my-2">
                    <p class="lead">Welcome,<br> I hope you find what you seek.</p>
                </span>
            </div>
        </div>
        <!-- landing page info for user -->
        <div id="landing-page-cards" class="card-deck">
            <div class="card p-2 m-4">
                <h5 class="card-title">Hot Takes</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            <div class="card p-2 m-4">
                <h5 class="card-title display-5">Daily Nuggets</h5>
                <div class="card-body">
                    <p class="card-text">Cras justo odio Dapibus ac facilisis in Vestibulum at eros</p>
                </div>
            </div>
            <div class="card p-2 m-4">
                <h5 class="card-title display-5">Current Events</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>