<div id="portfolio-section">
    <div class="jumbotron p-4">
        <span id="portfolio-header">
            <h1 class="page-header display-4">Recent Work</h1>
            <hr class="my-1">
            <p class="lead">HTML, CSS, JavaScript, jQuery, Vue.js</p>
        </span>
    </div>
    <div class="card-deck mb-5">
        <div class="card p-0 m-4">
            <a href="https://fieldpalmer.github.io/giphyAjaxSite/">
                <img class="card-img-top portfolio-card-img" src="assets/images/giphy-universe.png" alt="Card image cap">
            </a>
        </div>
        <div class="card p-0 m-4">
            <a href="https://fieldpalmer.github.io/TriviaGame/">
                <img class="card-img-top portfolio-card-img" src="assets/images/trivia300x200.jpeg" alt="Card image cap">
            </a>
        </div>
        <!-- breakpoint -->
        <div class="w-100 d-none d-sm-block d-md-block"><!-- medium screen breakpoint --></div>
        <!-- breakpoint -->
        <div class="card p-0 m-4">
            <a href="https://donde1.herokuapp.com/">
                <img class="card-img-top portfolio-card-img" src="assets/images/donde-app-login-screenshot.png" alt="Card image cap">
            </a>
        </div>
        <div class="card p-0 m-4">
            <a href="https://fieldpalmer.github.io/unit-4-game/">
                <img class="card-img-top portfolio-card-img" src="assets/images/crystalCollectorScreenGrab.png" alt="Card image cap">
            </a>
        </div>
        <!-- breakpoint -->
        <div class="w-100 d-none d-sm-block d-md-block"><!-- medium screen breakpoint --></div>
        <!-- breakpoint -->
        <div class="card p-0 m-4">
            <a href="https://fieldpalmer.github.io/trainSchedule/">
                <img class="card-img-top portfolio-card-img" src="assets/images/trainSchedule-home.png" alt="Card image cap">
            </a>
        </div>

        <div class="card p-0 m-4">
            <a href="https://fieldpalmer.github.io/Word-Guess-Game/">
                <img class="card-img-top portfolio-card-img" src="assets/images/hangman_300x200.jpg" alt="Card image cap">
            </a>
        </div>
    </div>
</div>