<div class="container">
    <div id="portfolio-section">
        <h1 class="display-4">Recent Work</h1>
        <hr>
        <div class="card-deck mb-5">
            <div class="card p-2 m-2" style="width:24em">
                <img class="card-img-top img-fluid" src="assets/images/giphy-universe.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">GIFtastic Universe</h5>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>
            <div class="card p-2 m-2" style="width:24em">
                <img class="card-img-top img-fluid" src="assets/images/trivia300x200.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Geography Bee Trivia Game</h5>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>
            <div class="w-100 d-none d-md-block d-lg-none"><!-- medium screen breakpoint --></div>
            <div class="card p-2 m-2" style="width:24em">
                <img class="card-img-top img-fluid" src="assets/images/donde-app-login-screenshot.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Donde - Geolocation App</h5>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>
            <div class="w-100 d-none d-lg-block"><!-- large-screen breakpoint --></div>
            <div class="card p-2 m-2" style="width:24em">
                <img class="card-img-top img-fluid" src="assets/images/crystalCollectorScreenGrab.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Crystal Collector</h5>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>
            <div class="w-100 d-none d-md-block d-lg-none"><!-- medium screen breakpoint --></div>
            <div class="card p-2 m-2" style="width:24em">
                <img class="card-img-top img-fluid" src="assets/images/trainSchedule-home.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Train Schedule</h5>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>

            <div class="card p-2 m-2" style="width:24em">
                <img class="card-img-top img-fluid" src="assets/images/hangman_300x200.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hangman - Arabic Vocabulary</h5>
                </div>
            </div>
        </div>
    </div>
</div>