<div class="h-100" id="portfolio-section">
    <div class="jumbotron jumbotron-fluid px-4 m-0">
        <div class="col-sm-8 col-md-6">
            <span id="portfolio-title">
                <h1 class="display-4">Recent Work</h1>
                <hr class="my-2">
                <p class="lead">Projects highlighting proficiency in HTML, CSS, JavaScript, jQuery, Vue.js</p>
            </span>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card p-2 m-2" style="width:24em">
            <img class="card-img-top img-fluid" src="assets/images/giphy-universe.png" alt="Card image cap">
        </div>
        <!-- breakpoint -->
        <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>
        <div class="card p-2 m-2" style="width:24em">
            <img class="card-img-top img-fluid" src="assets/images/trivia300x200.jpeg" alt="Card image cap">
        </div>
        <!-- breakpoint -->
        <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- medium screen breakpoint --></div>
        <div class="card p-2 m-2" style="width:24em">
            <img class="card-img-top img-fluid" src="assets/images/donde-app-login-screenshot.png" alt="Card image cap">
        </div>
        <!-- breakpoint -->
        <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>
        <div class="w-100 d-none d-lg-block"><!-- large-screen breakpoint --></div>
        <div class="card p-2 m-2" style="width:24em">
            <img class="card-img-top img-fluid" src="assets/images/crystalCollectorScreenGrab.png" alt="Card image cap">
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- medium screen breakpoint --></div>
        <div class="card p-2 m-2" style="width:24em">
            <img class="card-img-top img-fluid" src="assets/images/trainSchedule-home.png" alt="Card image cap">
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- small screen breakpoint --></div>

        <div class="card p-2 m-2" style="width:24em">
            <img class="card-img-top img-fluid" src="assets/images/hangman_300x200.jpg" alt="Card image cap">
        </div>
    </div>
</div>